
<!doctype html>
<html lang="en" ng-app="main">
<head>
  <title>Password tool</title>
  <script src="/app/bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="/app/bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../scripts/index.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
<header>
  <video muted autoplay loop class="video">
    <source src="../images/backgroundVideo.mp4" type="video/mp4">
  </video>
</header>
<div>
  <h1>Password tool</h1>

<div ng-view></div>
</div>
</body>
</html>
